<html>
     <head>
        <title>Learning Bootstrap </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
        ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js
        "></script>
        <link rel="stylesheet" href="../assets/style/style.css"/>
        <link rel="stylesheet" href="../assets/style/detailProject.css">
    </head>
    <body>
     
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <!--Left Side-->
              <a class="navbar-brand" href="#">
                <img src="../assets/img/logo.png" alt="logo-dumbways">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/add-project">Add project</a>
                  </li>
                  
                </ul>
                <!--End Left Side-->

                <!--Right Side-->
                <a href="/contact" class="btn btn-danger">Contact Me</a>
                <!--End Right Side-->
              </div>
            </div>
        </nav>
        <!--End Navbar--> <div class="detail-container">
            <h1>{{title}}</h1>
            <div class="content">
                <img src="../assets/img/astronaut.jpg" alt="">
                <div class="right">
                    <div class="durationdetail">
                        <h4>Duration</h4>
                        <span class="startend"><i class="fas fa-calendar"></i>  12 Jan 2021 - 11 Feb 2021</span>
                        <br>
                        <span class="durationmonth"> <i class="far fa-clock"></i>  1 Month</span>
                    </div>
                    <div class="technodetail">
                        <h4>Technologies</h4>
                        <i class="fa-brands fa-react"></i>React Js 
                        <i class="fa-brands fa-js"></i>JavaScript
                        <br>
                        <i class="fa-brands fa-node"></i>Node Js
                        <i class="fa-brands fa-socket"></i>Socket IO
                    </div>
                </div>
                
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam illum eius deleniti et reiciendis quisquam error quaerat eaque blanditiis! Assumenda commodi porro totam eaque, suscipit iste quaerat accusamus ullam nostrum, dolorem at voluptates illo veritatis tempore, adipisci fuga esse facere hic dolorum. Deserunt suscipit et, veniam aperiam sequi maxime exercitationem voluptas corrupti placeat reprehenderit perspiciatis aliquam odio soluta dolores natus sint nihil sunt fuga. Quaerat adipisci non laudantium quos! Optio quas necessitatibus, cumque aut sit odit vitae maiores illo et unde itaque. Alias nemo aspernatur amet cupiditate doloremque libero nihil minus sequi sunt unde a commodi saepe rerum inventore veritatis, mollitia temporibus suscipit nulla accusantium. Sapiente veniam, perferendis dicta facilis tenetur placeat, doloribus impedit ad pariatur, ex explicabo unde soluta corrupti ullam labore est! Dolorum quam facilis accusantium, accusamus sed cum? Quaerat quae in iure sit optio accusantium vitae animi quibusdam assumenda laudantium consequatur aliquam corrupti culpa reprehenderit, dolorum dicta! Error a impedit quasi culpa! Dicta ea ullam qui temporibus perferendis doloremque dolor corporis praesentium sapiente error nam nemo laboriosam a voluptatum quas, aut ratione laborum beatae unde nobis repellat reiciendis? Unde ut beatae ipsam neque nostrum eveniet consectetur adipisci, nisi, iure repellendus molestias. Consectetur laborum totam repudiandae aut impedit officia porro maiores sed assumenda est ipsam laboriosam labore vel quo, iusto perferendis illo rem corporis unde quisquam! Tempora minus quis libero! Tempore maxime at blanditiis alias unde eaque! Est unde facilis voluptatem corporis error velit quae! Voluptate fugit vero maiores eaque impedit doloribus eligendi non officiis? Corrupti blanditiis repellendus consectetur placeat eligendi facilis veniam eos. Fugiat non vel, rerum nostrum similique sint placeat iste atque odio adipisci. Officia nisi eius nostrum praesentium, at ut. Quis excepturi in corrupti soluta autem officia veritatis dicta dolor. Est, repellendus natus delectus deserunt neque placeat tenetur quam voluptates iusto, odit corrupti praesentium autem adipisci, obcaecati libero facere reprehenderit cum quod. Nobis nihil, tenetur veniam cumque labore dignissimos quo, reiciendis odit natus modi id culpa veritatis ipsum eum ipsa error corporis possimus facere cupiditate. Veritatis amet consequuntur debitis magni explicabo quas hic? Provident sed repudiandae labore eaque quasi cum illum nesciunt expedita id repellendus minus consectetur laudantium ipsa, hic, voluptatibus, obcaecati dolorum repellat voluptatem deleniti accusantium! Nemo ipsam veniam nihil minima quia vel aliquid, id tenetur eos ipsa. Non ut, corporis dolorem at tenetur sit voluptatum tempore? Dolorum quasi perspiciatis non velit harum inventore id? Sapiente laudantium fugit voluptates ut! Vero, quidem esse alias sapiente eaque voluptates debitis iste maxime nobis labore officia obcaecati error. Dolorem ut illum tempora ad repellendus vitae sed, numquam libero excepturi provident? Voluptates, eum vitae? Ipsa aut possimus eveniet consectetur nobis. Consequuntur vel sapiente optio perspiciatis incidunt perferendis eligendi quidem amet velit eveniet? Illum doloremque porro rem obcaecati assumenda, in quae iusto molestias perspiciatis reprehenderit harum fugit ducimus maxime temporibus similique culpa, ullam placeat aperiam tempora provident praesentium at optio? Ut harum illum deleniti iste iure doloremque iusto nesciunt voluptatum ducimus repudiandae, molestiae corporis esse temporibus delectus, nisi officiis consequuntur id obcaecati! Error, beatae. Debitis ab aliquam perferendis ipsam?</p>
            </div>
        </div>    
    </body>
</html>